<%- layout('layout/basicTemplate') %>

    <!-- <h1>Edit hotel Details</h1>
    <form action="/hotels/:<%= motel._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= motel.name %>"><br>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" value="<%= motel.location %>"><br>
        <button>Submit</button>
    </form>
    <a href="/hotels/:<%= motel._id %>">Cancel</a> -->




    <div class="row">
        <h1 class="text-center">
            Edit Hotel
        </h1>
        <div class="col-6 offset-3">
            <form action="/hotels/<%= motel._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" value="<%= motel.name %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= motel.location %>">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Hotel Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input type="text" class="form-control" name="price" id="price" value="<%= motel.price %>"
                            aria-label="price" aria-describedby="price-label">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Add Image...</label>
                    <input class="form-control" type="file" id="formFile" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="description"
                        id="description"><%= motel.description %></textarea>
                </div>

                <h5> Delete Images </h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% motel.image.forEach((image, i)=> { %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="<%= image.thumbnail %>" alt="">
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                        value="<%= image.filename %>" id="image-<%= i %>">
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
            <a href="/hotels/<%= motel._id %>">Cancel</a>
        </div>
    </div>